.games-page{
    text-align: center;
    padding: 50px 20px;
    background-color: rgb(255, 0, 0);
    color: rgb(0, 4, 255);
}

 .games-page .hero{
    color: var(--gamesPg-hero-clr);

}

/*****************************************************/
/*GAME 1*/
