/*TO DO*/
 /*600px => logo -> msct-heez-green*/
 /*need to fix grass problem*/
 /*fonts*/
 /*colors*/
 /*add clouds to parents section*/
 /*add fish to kids section*/

/*ANIMATIONS*/
     /*swing*/
         @keyframes swing {
             0%{transform: rotate(-3.8deg);}
             50%{transform: rotate(1.8deg);}
             100%{transform: rotate(-3.8deg);}
            }

         @media (prefers-reduced-motion: reduce){
             .sign-wrap{animation: none;}
            }
     /*other*/    

/*MAIN*/  
     .home-page{
         text-align: center;
         background: var(--heroSec-bg-clr);
         border-radius: 30px;
        }

/*HERO SECTION*/
     /*main*/
         .hero-section{
             /*border: 2px solid brown;  /*DELETE*/
             position: relative;
             background: var(--heroSec-bg-clr);
             color: var(--heroSec-elm-clr);
             height: fit-content;
             max-height: 85dvh;
             display: flex;
             flex-direction: column;
             align-items: center;
             row-gap: 25px;
             overflow: hidden;
            }

     /*hero-logo*/
         .hero-section .logo-wrap{
             /*border: 2px solid black;  /*DELETE*/
             height: 520px;
             width: 520px;
             display: flex;
             justify-content: center;
             align-items: center;
             justify-self: center;
             margin-top: 1rem;
             overflow: hidden;
            }

     /*quick-links*/
         .hero-section .quick-link{
             /*border: 2px solid red;  /*DELETE*/
             display: flex;
             gap: 10px;
            }      

         .hero-section .quick-link button{
             border-radius: 10px;
             padding: 8px 10px;

            }   
     
     /*grass*/
         .grass-wrap{
             /*border: 2px solid;  /*DELETE*/
             width: fit-content;
             width: 100%;
             height: 25%;
             max-height: 200px;
             pointer-events: none;
             margin-bottom: 0;
            }

/*KIDS SECTION*/
     /*main*/
         .kids-section{
             position: relative;
             background: var(--kidsSec-bg-clr);
             color: var(--kidsSec-elm-clr);
             min-height: 80dvh;
             display: flex;
             flex-direction: column;
             align-items: center;
            }

     /*hero*/  
         .kids-section .hero{
             /*border: 2px solid  white;  /*DELETE*/
             display: flex;
             flex-direction: column;
             align-items: center;
            }
        
         .kids-section .hero .title{
             border: 2px solid red;  /*DELETE*/
             margin: 2rem .5rem 0;
            }

         .kids-section .hero p{
             border: 2px solid black;  /*DELETE*/
             color: var(--kidsSec-hero-p-clr);
             display: block;
            }      

     /*cards*/
         .kids-cards{
             border: 2px solid black;  /*DELETE*/
             display: grid;
             grid-template-columns: repeat(3,1fr);
             width: 90%;
             height: 300px;
             padding: 2rem 1rem;
             gap: 25px;
            }

         .kids-cards .card{
             border: 2px solid;  /*DELETE*/
             display: flex;
             flex-direction: column;
             align-items: center;
             padding: 1rem;
             border-radius: 23px;
            }
         
         .kids-cards .card .icon{
             border: 2px solid black;  /*DELETE*/
             width: 70px;
             height: 70px;
             display: grid;
             justify-content: center;
             align-items: center;
             border-radius: 15px;
            } 
            
         .kids-cards .card .subtitle{
             border: 2px solid green;  /*DELETE*/
             width: 80%;
            }   
         
         .kids-cards .card .button{
             border: 2px solid yellow;  /*DELETE*/
             width: 50%;
            }   

/*PARENTS SECTION*/
     /*main*/
         .parents-section{
             background: var(--parentsSec-bg-clr);
             color: var(--parentsSec-elm-clr);
             min-height: 35dvh;
            }

     /*hero*/
         .parents-section .hero{
             /*border: 2px solid brown;  /*DELETE*/
             display: flex;
             flex-direction: column;
             gap: 0px;
            } 

         .parents-section .hero .title{
             /*border: 2px solid green;  /*DELETE*/
             margin: 2rem .5rem 0;
            }
            
         .parents-section .hero .subtitle{
             /*border: 2px solid red;  /*DELETE*/
             margin: 1rem .5rem 2rem;
            }   
         
     /*learn-more*/
         .parents-section .learn-more{
             /*border: 2px solid black;  /*DELETE*/
             font-size: 1rem;
            }   

         .parents-section .learn-more button{
             border: 2px solid black;  /*DELETE*/
             width: 22%;
             min-width: 126px;
             height: 70px;
             border-radius: 25px;
             font-size: 1rem;
             cursor: pointer;
            }    

       