/*TO DO*/
 /*600px => logo -> msct-heez-green*/
 /*fonts*/
 /*colors*/
 /*fix grass problem*/
 /*add clouds to parents section*/
 /*add fish to kids section*/

/*ANIMATIONS*/
     /*swing*/
         @keyframes swing {
             0%{transform: rotate(-3.8deg);}
             50%{transform: rotate(1.8deg);}
             100%{transform: rotate(-3.8deg);}
            }

         @media (prefers-reduced-motion: reduce){
             .sign-wrap{animation: none;}
            }
     /*other*/    

/*MAIN*/  
     .home-page{
         text-align: center;
         background: var(--heroSec-bg-clr);
         border-radius: 30px;
         border-bottom-left-radius: 0px;
         border-bottom-right-radius: 0px;
         overflow: hidden;
        }

/*HERO SECTION*/
     /*main*/
         .home-page .hero-section{
             /*border: 2px solid brown;  /*DELETE*/
             position: relative;
             background: var(--heroSec-bg-clr);
             color: var(--heroSec-elm-clr);
             height: fit-content;
             max-height: 85dvh;
             display: flex;
             flex-direction: column;
             align-items: center;
             overflow: hidden;
            }

     /*tgaline*/
         .home-page .hero-section .tagline{
            display: none;
            border: 2px solid black;
            width: 80%;
            border-radius: 25px;
            margin-bottom: 1rem;
         }       

         .home-page .hero-section .tagline p{
            font-size: 1.5rem;
         }

     /*hero-logo*/
         .home-page .hero-section .logo-wrap{
             /*border: 2px solid black;  /*DELETE*/
             position: relative;
             height: 520px;
             width: 60%;
             max-width: 520px ;
             display: flex;
             justify-content: center;
             align-items: center;
             justify-self: center;
             overflow: hidden;
             margin-bottom: 1rem;
            }
         
         .home-page .hero-section .logo-wrap svg{
            /*border: 2px solid black;  /*DELETE*/
            overflow: hidden;
         }   

         .home-page .hero-section .logo.md{
            display: none;
            /*border: 2px solid black;  /*DELETE*/
         }   

     /*quick-links*/
         .home-page .hero-section .quick-link{
             /*border: 2px solid red;  /*DELETE*/
             display: flex;
             justify-content: center;
             align-items: center;
             gap: 10px;
             width: 50%;
             max-width: 500px;
             min-width: 200px;
             height: 50px;
            }      

         .home-page .hero-section .quick-link button{
             border-radius: 10px;
             padding: 8px 10px;
             width: 100%;
             height: 100%;
            }   
     
     /*grass*/
         .home-page .hero-section .grass-wrap{
             /*border: 2px solid;  /*DELETE*/
             position: relative;
             width: fit-content;
             width: 100%;
             height: 170px;
             margin-bottom: 0;
            }

        .home-page .hero-section .grass-wrap svg{
            /*border: 2px solid black;  /*DELETE*/
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 90%;
         }   

/*KIDS SECTION*/
     /*main*/
         .home-page .kids-section{
             position: relative;
             background: var(--kidsSec-bg-clr);
             color: var(--kidsSec-elm-clr);
             min-height: 80dvh;
             display: flex;
             flex-direction: column;
             align-items: center;
            }

     /*hero*/  
         .home-page .kids-section .hero{
             /*border: 2px solid  white;  /*DELETE*/
             display: flex;
             flex-direction: column;
             align-items: center;
             margin-bottom: 1rem;
            }
        
         .home-page .kids-section .hero .title{
             /*border: 2px solid red;  /*DELETE*/
             margin: 2rem .5rem 0;
            }

         .home-page .kids-section .hero p{
             /*border: 2px solid black;  /*DELETE*/
             color: var(--kidsSec-hero-p-clr);
             display: block;
             margin: 16px 6px;
            }      

     /*cards*/
         .home-page .kids-section .kids-cards{
             /*border: 2px solid black;  /*DELETE*/
             display: grid;
             grid-template-columns: repeat(3,1fr);
             width: 90%;
             max-width: 500px;
             padding: 2rem 1rem;
             gap: 25px;
             margin-bottom: 1rem;
            }

         .home-page .kids-section .kids-cards .card{
             border: 2px solid;  
             display: flex;
             flex-direction: column;
             align-items: center;
             padding: 1rem;
             border-radius: 23px;
            }
         
         .home-page .kids-section .kids-cards .card .icon{
             border: 2px solid black; 
             width: 70px;
             height: 70px;
             display: flex;
             justify-content: center;
             align-items: center;
             border-radius: 15px;
            } 

         .home-page .kids-section .kids-cards .card .icon svg{
            width: 60px;
            height: 60px;
         }   
            
         .home-page .kids-section .kids-cards .card .subtitle{
             /*border: 2px solid green;  /*DELETE*/
             width: 80%;
            }   

         .home-page .kids-section .kids-cards .card a{
             min-width: 100px;
             max-width: 200px;
         }   
         
         .home-page .kids-section .kids-cards .card .button{
             /*border: 2px solid yellow;  /*DELETE*/
             width: 170px;
             min-width: 100px;
             max-width: 200px;
             height: 45px;
             border-radius: 15px;
             cursor: pointer;
            }   

/*PARENTS SECTION*/
     /*main*/
         .home-page .parents-section{
             background: var(--parentsSec-bg-clr);
             color: var(--parentsSec-elm-clr);
             min-height: 30dvh;
            }

     /*hero*/
         .home-page .parents-section .hero{
             /*border: 2px solid brown;  /*DELETE*/
             display: flex;
             flex-direction: column;
             gap: 0px;
            } 

         .home-page .parents-section .hero .title{
             /*border: 2px solid green;  /*DELETE*/
             margin: 2rem .5rem 0;
            }
            
         .home-page .parents-section .hero .subtitle{
             /*border: 2px solid red;  /*DELETE*/
             margin: 1rem .5rem 2rem;
            }   
         
     /*learn-more*/
         .home-page .parents-section .learn-more{
             /*border: 2px solid black;  /*DELETE*/
             font-size: 1rem;
            }   

         .home-page .parents-section .learn-more button{
             /*border: 2px solid black;  /*DELETE*/
             width: 50%;
             min-width: 200px;
             max-width: 340px;
             height: 70px;
             border-radius: 25px;
             font-size: 1rem;
             cursor: pointer;
            }    

@media (max-width: 3000px) {
     .home-page .kids-section .kids-cards{
             grid-template-columns: 1fr;
     }
}       

@media (max-width: 850px){
    .home-page .grass-wrap{
        display: none;
    }
    .home-page .hero-section .tagline{
        display: unset;
    }
    .home-page .hero-section .quick-link{
        margin-bottom: 9rem;
    }
     .home-page .hero-section .logo-wrap{
            width: 70%;
            min-width: 470px;
    }
    .home-page .hero-section .logo.xl{
        display: none;
    }
    .home-page .hero-section .logo.md{
        display: unset;
        min-width: 300px;
    }
}

@media (max-width: 500px) {
      .home-page .hero-section .logo-wrap{
            width: 100%;
            min-width: 450px;
    }
}

@media (max-width: 370px) {
        .home-page .hero-section .logo-wrap{
            min-width: 350px;
            height: 350px;
    }
}
