.socials-page .emailUs-section{
    height: 100dvh;
}

.socials-page .emailUs-section form{
    border: 2px solid;  /*DELETE*/
    max-width: 500px;
    width: 100%;
    padding: 25px 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #333;
    margin: 25px;
}

.emailUs-section form .title{
    text-align: center;
    font-size: 30px;
}

.emailUs-section .input-box{
    margin-top: 20px;
}

.emailUs-section .input-box .field{
    width: 90%;
    height: 15px;
    background: transparent;
    border: 2px solid #ddd;
    outline: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 16px;
    color: #333;
    margin-top: 8px;
}

.emailUs-section .input-box .field.message{
    height: 200px;
    resize: none;
}

.emailUs-section form button{
    width: 100%;
    height: 55px;
    background: #826afb;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-top: 25px;
    transition: .5s;
}

.emailUs-section form button:hover{
    background: #624ec6;
}